<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sheep Shear Club{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
            <link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    </head>
    <body>
        {% for msg in app.session.flashBag.get('success') %}
            <div class="sheep-flash alert alert-success">{{ msg }}</div>
        {% endfor %}

        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header navbar-left">
              <a class="navbar-brand" href="{{ path('homepage')}}">Sheep Shear Club</a>
            </div>
            <img class="ssc-logo center-block" src="{{ asset('uploads/sheep-shear-club-logo.png') }}"/>
            <div id="navbar" class="navbar-right">
              <ul class="nav navbar-nav">
                  {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                  {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                  {% endif %}
                  <li><a href="{{ path('pricing_show')}}">Pricing</a></li>
                <li><a href="{{ path('order_checkout')}}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Checkout</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>

        {% block body %}{% endblock %}

        <footer class="footer footer-styling">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <a class="footer-link" href="{{ path('homepage')}}"><p>Sheep Shear Club</p></a>
                        <div class="social-icons pull-right">
                            <a href="#">
                                <p class="instagram-text">Share your new look with us:</p>
                                <img class="instagram" src="{{ asset('uploads/instagram.png') }}"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.1.0.js"
                    integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="
                    crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
